root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 2

[[shell]]
binary_next_line = true
switch_case_indent = true
space_redirects = false
simplify = false
function_next_line = false

[*.zsh]
shell_variant = zsh

[home/dot_zprofile]
shell_variant = zsh
[home/dot_zshenv]
shell_variant = zsh
[home/private_dot_zshrc]
shell_variant = zsh
[home/dot_p10k.zsh]
ignore = true

[*.tmpl]
ignore = true
