---
default_install_hook_types:
  - pre-commit
  - pre-push

repos:
  - repo: https://github.com/astral-sh/uv-pre-commit
    rev: 0.9.11
    hooks:
      - id: uv-sync
        args: ["--locked", "--all-packages"]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: check-json
      - id: check-yaml
      - id: check-toml
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: detect-private-key
      - id: mixed-line-ending
        args: [--fix=lf]
  - repo: https://github.com/python-jsonschema/check-jsonschema
    rev: 0.35.0
    hooks:
      - id: check-github-workflows
      - id: check-renovate
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.18.2
    hooks:
      - id: mypy
        args: [--strict]
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v4.0.0
    hooks:
    - id: add-trailing-comma
  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py313-plus]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format
  - repo: https://github.com/PyCQA/isort
    rev: 7.0.0
    hooks:
      - id: isort
  - repo: https://github.com/renovatebot/pre-commit-hooks
    rev: 41.173.1
    hooks:
      - id: renovate-config-validator
  - repo: https://github.com/gitleaks/gitleaks
    rev: v8.29.1
    hooks:
      - id: gitleaks
  - repo: https://github.com/thoughtworks/talisman
    rev: v1.37.0
    hooks:
      - id: talisman-push
      - id: talisman-commit
