{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}

{{- $hostProfiles := dict
  "void" (list "base" "workstation" "development" "owned")
  "beastbox" (list "base" "workstation" "development" "gaming" "server" "owned")
-}}

{{- $profileChoices := list "base" "headless" "workstation" "development" "gaming" "server" "owned" -}}
{{- $defaultProfiles := get $hostProfiles .chezmoi.hostname | default (list "base" "development") -}}
{{- $profiles := $defaultProfiles -}}

{{- if env "DOTFILES_PROFILES" -}}
{{-   $profiles = splitList "," (env "DOTFILES_PROFILES") -}}
{{- else -}}
{{-   $profiles = promptMultichoiceOnce . "profiles" "profiles" $profileChoices $defaultProfiles -}}
{{- end -}}

{{- $hasRoot := has "owned" $profiles -}}
{{- $gitName := promptStringOnce . "git.name" "git user name" "Thomas Kristensen" -}}
{{- $gitEmail := promptStringOnce . "git.email" "git user email" "" -}}

sourceDir = {{ .chezmoi.workingTree | quote }}

[data]
    os = {{ .chezmoi.os | quote }}
    osid = {{ $osid | quote }}
    hostname = {{ .chezmoi.hostname | quote }}
    machine = {{ promptStringOnce . "machine" "machine name" .chezmoi.hostname | quote }}
    profiles = {{ $profiles | toToml }}

    # Compatibility / privilege flags.
    hasRoot = {{ $hasRoot }}
    owned = {{ has "owned" $profiles }}

    # Profile flags.
    base = {{ has "base" $profiles }}
    headless = {{ has "headless" $profiles }}
    workstation = {{ has "workstation" $profiles }}
    development = {{ has "development" $profiles }}
    gaming = {{ has "gaming" $profiles }}
    server = {{ has "server" $profiles }}

[data.git]
    name = {{ $gitName | quote }}
    email = {{ $gitEmail | quote }}
