return {
  dark = {
    background = "{{ .theme.dark.background }}",
    surface = "{{ .theme.dark.surface }}",
    surface_alt = "{{ .theme.dark.surface_alt }}",
    border = "{{ .theme.dark.border }}",

    foreground = "{{ .theme.dark.foreground }}",
    foreground_dim = "{{ .theme.dark.foreground_dim }}",
    muted = "{{ .theme.dark.muted }}",

    selection = "{{ .theme.dark.selection }}",
    cursor = "{{ .theme.dark.cursor }}",

    red = "{{ .theme.dark.red }}",
    orange = "{{ .theme.dark.orange }}",
    yellow = "{{ .theme.dark.yellow }}",
    green = "{{ .theme.dark.green }}",
    cyan = "{{ .theme.dark.cyan }}",
    blue = "{{ .theme.dark.blue }}",
    purple = "{{ .theme.dark.purple }}",
  },

  light = {
    background = "{{ .theme.light.background }}",
    surface = "{{ .theme.light.surface }}",
    surface_alt = "{{ .theme.light.surface_alt }}",
    border = "{{ .theme.light.border }}",

    foreground = "{{ .theme.light.foreground }}",
    foreground_dim = "{{ .theme.light.foreground_dim }}",
    muted = "{{ .theme.light.muted }}",

    selection = "{{ .theme.light.selection }}",
    cursor = "{{ .theme.light.cursor }}",

    red = "{{ .theme.light.red }}",
    orange = "{{ .theme.light.orange }}",
    yellow = "{{ .theme.light.yellow }}",
    green = "{{ .theme.light.green }}",
    cyan = "{{ .theme.light.cyan }}",
    blue = "{{ .theme.light.blue }}",
    purple = "{{ .theme.light.purple }}",
  },
}
