{{- $llmConfig := .llmConfig | default (dict) -}}
{{- $providers := get $llmConfig "providers" | default (list) -}}
{{- $engines := get $llmConfig "engines" | default (list) -}}
{{- $features := get $llmConfig "features" | default (list) -}}
return {
  providers = {
{{ range $providers }}
    "{{ . }}",
{{ end }}
  },

  engines = {
{{ range $engines }}
    "{{ . }}",
{{ end }}
  },

  features = {
{{ range $features }}
    "{{ . }}",
{{ end }}
  },
}
