---
- name: Include services tasks
  ansible.builtin.include_tasks:
    file: services.yml
  when: ansible_facts.distribution != 'MacOSX'

- name: Set up base system configuration (only "owned" systems)
  when: allow_root | default(false) | bool
  block:
    - name: Include tasks for debian-based systems
      ansible.builtin.include_tasks:
        file: debian_based.yml
      when: ansible_facts.distribution in ['Debian', 'Ubuntu']

    - name: Include tasks for fedora
      ansible.builtin.include_tasks:
        file: fedora.yml
      when: ansible_facts.distribution == 'Fedora'

    - name: Include tasks for macos
      ansible.builtin.include_tasks:
        file: macos.yml
      when: ansible_facts.distribution == 'MacOSX'

- name: Ensure .local/bin directory exists
  ansible.builtin.file:
    path: "{{ ansible_facts.env.HOME }}/.local/bin"
    state: directory
    mode: "0755"

- name: Create initial env file with PATH case structure
  ansible.builtin.copy:
    dest: "{{ ansible_facts.env.HOME }}/.local/bin/env"
    content: |
      #!/bin/sh

      # add binaries to PATH if they aren't added yet
      # affix colons on either side of $PATH to simplify matching
      # this file is sourced by .zshrc

      case ":${PATH}:" in
          *:"$HOME/.local/bin":*)
              ;;
          *)
              # Prepending path in case a system-installed binary needs to be overridden
              export PATH="$HOME/.local/bin:$PATH"
              ;;
      esac
    mode: "0644"
    force: false # Won't overwrite if exists

- name: Include tldr tasks
  ansible.builtin.import_tasks:
    file: tldr.yml
  when: ansible_facts.distribution == 'Fedora'

- name: Include miscellaneous utilities tasks
  ansible.builtin.import_tasks:
    file: utils.yml
