---
- name: Check if tldr is installed
  ansible.builtin.command: which tldr
  register: base_tldr_check
  ignore_errors: true
  changed_when: false
  check_mode: false

- name: Setup tldr auto update
  when: base_tldr_check.rc == 0
  block:
    - name: Create tldr share directory
      ansible.builtin.file:
        path: "{{ ansible_facts.env.HOME }}/.local/share/tldr"
        state: directory
        mode: "0755"

    - name: Check for existing tldr pages
      ansible.builtin.find:
        paths: "{{ ansible_facts.env.HOME }}/.local/share/tldr"
        file_type: any
      register: base_tldr_files

    - name: Check if tldr cron job exists
      ansible.builtin.shell:
        cmd: set -o pipefail && crontab -l 2>/dev/null | grep -q 'tldr -u'
        executable: /bin/bash
      register: base_tldr_cron_check
      changed_when: false
      failed_when: false

    - name: Initial tldr pages download
      ansible.builtin.command: tldr -u
      changed_when: true
      when:
        - base_tldr_files.matched | int == 0
        - base_tldr_cron_check.rc != 0

    - name: Add tldr update to crontab
      ansible.builtin.cron:
        name: update tldr pages
        minute: "0"
        hour: "0"
        day: "*"
        month: "*"
        weekday: "0"
        job: "{{ base_tldr_check.stdout }} -u > /dev/null"
