---
- name: Add repositories for {{ ansible_facts.distribution_release }}
  ansible.builtin.deb822_repository:
    name: ubuntu
    types: deb
    uris: http://archive.ubuntu.com/ubuntu/
    suites:
      - "{{ ansible_facts.distribution_release }}"
      - "{{ ansible_facts.distribution_release }}-updates"
      - "{{ ansible_facts.distribution_release }}-backports"
      - "{{ ansible_facts.distribution_release }}-security"
    components:
      - main
      - universe
      - restricted
      - multiverse
    signed_by: /usr/share/keyrings/ubuntu-archive-keyring.gpg
    enabled: true
  become: true
  when: allow_root | bool
