---
name: .dotfiles PR
# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  pull_request:

jobs:
  check:
    name: pre-commit
    runs-on: ubuntu-latest
    env:
      DOTFILES_CI: 'true'
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-5|${{ hashFiles('uv.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uv run alias check

  run-setup:
    needs: check
    name: ${{ matrix.config.hostname }} (${{ matrix.config.os }})
    runs-on: ${{ matrix.config.runner }}
    strategy:
      matrix:
        config:
          - hostname: ci-fedora-workstation
            os: fedora:latest
            runner: ubuntu-latest
            image: jrei/systemd-fedora:latest
            enable_sudo: 'true'
          - hostname: ci-fedora-workstation
            os: fedora:42
            runner: ubuntu-latest
            image: jrei/systemd-fedora:42
            enable_sudo: 'true'
          - hostname: ci-debian-justuser
            os: debian:sid
            runner: ubuntu-latest
            image: jrei/systemd-debian:sid
            enable_sudo: 'false'
          - hostname: ci-debian-justuser
            os: debian:trixie
            runner: ubuntu-latest
            image: jrei/systemd-debian:13
            enable_sudo: 'false'
          - hostname: ci-ubuntu-server
            os: ubuntu:latest
            runner: ubuntu-latest
            image: jrei/systemd-ubuntu:latest
            enable_sudo: 'true'
          - hostname: ci-ubuntu-server
            os: ubuntu:LTS
            runner: ubuntu-latest
            image: jrei/systemd-ubuntu:24.04
            enable_sudo: 'true'
          - hostname: ci-macos-workstation
            os: macos:latest
            runner: macos-latest
            image: ''
            options: ''
            enable_sudo: 'true'
    container:
      image: ${{ matrix.config.image || '' }}
      options: ${{ matrix.config.options || '--privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro' }}
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup and run dotfiles
        uses: ./.github/actions/setup-and-run-dotfiles
        with:
          pkgs: 'git curl sudo'
          setup_args: -e target_host=${{ matrix.config.hostname }}
          task_name: ${{ matrix.config.hostname }}
          enable_sudo: ${{ matrix.config.enable_sudo }}

  test:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [run-setup]
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}
