---
name: .dotfiles PR
# yamllint disable-line rule:truthy
on:
  workflow_dispatch:
  pull_request:

jobs:
  check:
    name: pre-commit
    runs-on: ubuntu-latest
    env:
      DOTFILES_CI: 'true'
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
        with:
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - uses: actions/cache@8b402f58fbc84540c8b491a91e594a4576fec3d7 # v5.0.2
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-5|${{ hashFiles('uv.lock') }}|${{ hashFiles('.pre-commit-config.yaml') }}
      - run: uv run alias check

  run-setup:
    needs: check
    name: ${{ matrix.task.name }} on ${{ matrix.os.name }}
    runs-on: ${{ matrix.os.runner }}
    strategy:
      matrix:
        os:
          - name: fedora:latest
            runner: ubuntu-latest
            image: jrei/systemd-fedora:latest
          - name: fedora:42
            runner: ubuntu-latest
            image: jrei/systemd-fedora:42
          - name: debian:sid
            runner: ubuntu-latest
            image: jrei/systemd-debian:sid
          - name: debian:trixie
            runner: ubuntu-latest
            image: jrei/systemd-debian:13
          - name: ubuntu:latest
            runner: ubuntu-latest
            image: jrei/systemd-ubuntu:latest
          - name: ubuntu:LTS
            runner: ubuntu-latest
            image: jrei/systemd-ubuntu:24.04
          - name: macos:latest
            runner: macos-latest
            options: ''
        task:
          - name: workstation
            enable_sudo: 'true'
          - name: server
            enable_sudo: 'true'
          - name: justuser
            enable_sudo: 'false'
    container:
      image: ${{ matrix.os.image || '' }}
      options: ${{ matrix.os.options || '--privileged -v /sys/fs/cgroup:/sys/fs/cgroup:ro' }}
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup and run dotfiles
        uses: ./.github/actions/setup-and-run-dotfiles
        with:
          pkgs: 'git curl sudo'
          setup_args: ${{ matrix.task.setup_args }}
          task_name: ${{ matrix.task.name }}
          enable_sudo: ${{ matrix.task.enable_sudo }}

  test:
    if: ${{ always() }}
    runs-on: ubuntu-latest
    needs: [run-setup]
    steps:
      - run: exit 1
        if: ${{ contains(toJSON(needs.*.result), 'failure') || contains(toJSON(needs.*.result), 'cancelled') }}
